# HB-RF-ETH Default Configuration

# SNMP Agent (lwIP)
CONFIG_LWIP_SNMP=y
CONFIG_LWIP_SNMP_MAX_OBJ_ID_LEN=50
CONFIG_LWIP_MIB2_CALLBACKS=y

# MQTT 3.1.1 Protocol
CONFIG_MQTT_PROTOCOL_311=y

# HTTP Server
CONFIG_HTTPD_MAX_URI_HANDLERS=15
